.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 8rem;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
    width: 100%;
    height: 3rem;
    border-bottom: 2px solid #666;
    gap: 1rem;

    p {
        margin: 0;
        color: #666;
        font-style: italic;
    }

    h2 {
        font-family: 'Din-Bold';
    }
}

.info {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 3rem;
    width: 100%;
}

.sucursales {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 40rem;
    gap: 1rem;
    padding-right: 4rem;

    .footer__column h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .footer__column ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer__column ul li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .icons {
        width: 1rem;
    }

    .footer__column ul li p {
        font-size: 0.875rem;
        text-decoration: none;
        transition: color 0.3s ease;
        margin: 0;
        color: #666;
    }
}

.form {
    width: 60%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h3 {
        font-family: 'Din-Bold';
    }
}

.divider {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #666;
}

.row {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    height: 3rem;

    input,
    textarea {
        width: 100%;
        height: 3rem;
        border: 2px solid #666;
        border-radius: 1rem;
        padding: 0.5rem;
        font-size: 0.85rem;
    }

    textarea {
        height: 10rem;
    }

    // input,
    // textarea:hover {
    //     border-color: var(--color-secondary);
    // }

    // input,
    // textarea:focus {
    //     outline: none;
    //     border-color: var(--color-secondary);
    //     box-shadow: 0 0 0 3px rgba(184, 112, 77, 0.1);
    // }
}

.submitBtn {
    width: 100%;
    display: flex;
    justify-content: end;
}

.submitBtn button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.captchaContainer {
    display: flex;
    justify-content: center;
}

.propertySelector,
.hoodSelector {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    border: 2px solid #666;
    border-radius: 1rem;
    font-size: 0.85rem;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: space-between;
}