.footer {
    display: flex;
    flex-direction: column;
    height: 25rem;
    align-items: center;
}

.background {
    position: absolute;
    overflow-y: hidden;
    width: 100%;
    height: 25rem;
    z-index: -1;

    img {
        inset: 0;
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: opacity 0.5s ease;
    }
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .footer__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.footer__column h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--color-light);
}

.footer__column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__column ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.icons {
    width: 1rem;
}

.footer__column ul li p {
    color: var(--color-light);
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 0;
    opacity: 0.5;
}

.footer__column ul li a {
    position: relative;
    display: inline-block;
    color: var(--color-light);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
    opacity: 0.5;
    transform: scale(1);
    transition:
        transform 0.3s ease,
        color 0.3s ease,
        text-shadow 0.3s ease;
}

.footer__column ul li a:hover {
    transform: scale(1.15);
}

.footer__bottom {
    background-color: var(--color-light);
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding-left: 17rem;
    margin-top: 1rem;
}

.footer__copyright {
    color: #666;
    font-size: 0.875rem;
}

.logo {
    width: 10rem;
    height: 4rem;
    margin-right: 3rem;
}