.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(253, 252, 250, 0.95);
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(232, 229, 225, 0.4);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  padding-right: 1.5rem;
}

.headerNav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.headerNav a {
  position: relative;
  display: inline-block;
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  transition: color 0.3s ease;
}

.headerNav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.headerNav a:hover::after {
  transform: scaleX(1);
}


.headerActions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 14rem;
  height: 4rem;
  color: var(--color-primary);
}

.searchIcon {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
  cursor: pointer;
}