/* Atom styles - Badge */
.badge__exclusive {
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: 500;

  &.primary {
    background-color: var(--color-red);
    color: white;
  }

  &.secondary {
    background-color: white;
    color: #666
  }
}