.wppBtn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    margin: 1rem;
    width: 50px;
    height: 50px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 1000;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 480px) {
    .wppBtn {
        bottom: 0rem;
        right: 0rem;
        width: 40px;
        height: 40px;
    }
}