.container {
    width: 100%;
    // height: 40rem;
    position: relative;
}

.header {
    display: flex;
    width: 100%;
    height: 30rem;
    position: relative;
}

.image {
    width: 40%;
    height: 30rem;
    border-radius: 1rem;
    object-fit: cover;
}

.property__card__badge {
    position: absolute;
    left: 45%;
    top: 20%;
    width: 40%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 0.9;
    border-radius: 1rem;
    background-color: var(--color-light);
    border: 2px solid var(--color-border);

    p {
        font-family: 'Din';
        font-size: 1.2rem;
        color: #666;
        margin: 0;
    }

    .price {
        color: var(--color-red);
        font-weight: 800;
    }
}

.row {
    display: flex;
    align-items: center;
    gap: 1rem;

    h2 {
        font-family: 'Din';
        font-weight: 600;
        font-size: 1.5rem;
    }
}

.divider {
    border: 1px solid var(--color-red);
    height: 2rem;
}

.description {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-bottom: 0;
    margin-top: 1rem;

    p {
        font-size: 1.2rem;
    }
}

.property__card__features {
    display: flex;
    gap: 1rem;
    color: #666;
    font-size: 1rem;
}

.property__card__features .feature {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.detail {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.detail_column {
    width: 50%;
}

.detail_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    padding: 1rem;
    height: 2rem;
    margin-bottom: 2.5rem;

    h5 {
        font-weight: 600;
    }

    p {
        color: #666;
        font-weight: 600;
    }
}

@media (max-width: 1024px) {

    .image {
        width: 50%;
    }

    .property__card__badge {
        left: 55%;
    }

    .description {
        width: 100%;
    }
}

@media (max-width: 640px) {

    .header {
        height: 20rem;
        margin-bottom: 4rem;
    }

    .image {
        width: 100%;
        height: 20rem;
        border-radius: 0rem;
    }

    .property__card__badge {
        left: 10%;
        top: 70%;
        width: 80%;
        padding: 1rem;
        gap: 0.5rem;
        opacity: 1;
    }

    .description {
        width: 100%;
        margin-top: 1rem;
    }

    .detail {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        padding: 1rem;
    }

    .detail_column {
        width: 100%;
    }

    .detail_row {
        padding: 0rem;
        margin-bottom: 1.5rem;
    }
}